div{
    height: 100px;
    width: 200px;
    background-color: pink;
    border: solid;
    border-width: 2px;
    border-color: blue;
}

h1{
    height: 50px;
    width: 150px;
    background-color: aquamarine;
    border: solid;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
    text-align: center;
}

h2{
    height: 50px;
    width: 150px;
    background-color: rgb(199, 138, 24);
    /*
    border-width: 3px;
    border-color: black;
    border-style: dashed; 
    */

     border: 4px dashed black;   /*   border Shothand */

    text-align: center;
}

.C1{
    height: 100px;
    width: 100px;  
    padding-left: 50px;
    padding-top: 50px;     
    background-color: pink;
    border: solid;
    border-width: 4px;
    border-color:black;
    margin-top: 50px;
    margin-left: 100px;
    
}