/* h1{
    color: red;
}
p{
    color: rgb(6, 237, 22);
}
button{
    color: rgb(187, 22, 22) ;
    background-color: aqua;
}
body{
    background-color: #abcdef;
    background-color: skyblue;
} */


*{
    color:blue;
}



&{
    h1{
        color: black;
    }
}


#p1{
    color: chartreuse;
}
#p2{
    color: cyan;
}
#p3{
    color:yellow;
}


.C1{
    color: rgb(95, 228, 71);
}

body{
    background-color: gray;
}